<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico" />
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("Header")
    <div class="container">
        @RenderBody()
    </div>
    @Html.Partial("Footer")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

    

